
@media screen and (max-width:1300px){
    .card-prov{
        margin-right: 50px;
        margin-left: 30px;
        padding: 20px 30px;
    }
}
@media screen and (max-width:1140px){
    .card-prov{
        width: 35%;
        margin-right: 10px;
        margin-left: 30px;
        padding: 20px 30px;
    }
}
@media screen and (max-width:1050px){
    /* GRID-PANEL */
    body{
        grid-template-columns: 100%;
        grid-template-areas: "main";
    }
    /* HEADER */
    .main-header{
        z-index: 10000;
        width: 100vw;
    }
    .header-suscribete{
        width: 70%;
    }
    .header-suscribete .hamburguesa{
        display: block;
        margin-right: 20px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .panel{
        display: none;
    }

    /* SLIDER */
    .slider figcaption{
        width: 42%;
    }


    .descrip-card-global{
        padding: 20px 0;
    }

    /* CARROUSEL */
    .card-prov{
        margin-right: 50px;
        margin-left: 40px;
        padding: 20px 30px;
    }

    /* POPUD RESERVATION */

    .mfp-inline-holder .mfp-content{
        width: 60%;
        background-color: white;
        border-radius: 12px;
        overflow: hidden;
        left: 0;
        top: 5%;
    }
    
}
@media screen and (max-width:920px){
    h2{
        font-size: 17px;
        line-height: 30px; 
        font-family: var(--font-second);
    }
    h3{
        font-size: 13px;
        padding: 20px;
        font-family: var(--font-second);
    }
    h4{
        font-size: 11px;
        padding: 20px;
        font-family: var(--font-second);
    }
    /* NOSOTROS */
    .img-desription-content{
        padding: 0;
    }
    .img-desription-content p{
        font-size: 11px;
        line-height: 18px;
    }
    .img-desription-content a{
        width: 50%;
        padding: 10px 15px;
        font-size: 18px;
    }

    /* CONOCENOS */
    .descrip-card{
        padding: 0 20px;
    }
    .descrip-card P{
        font-size: 11px;
    }
    .cubo{
        margin-right: 0;
    }

     /* CARROUSEL */
     .card-prov{
        width: 30%;
        margin-right: 20px;
        margin-left: 40px;
        padding: 15px 25px;
    }
}


@media (max-width: 870px) {
    


    .mfp-inline-holder .mfp-content{
        width: 50%;
        height: 70%;
    }
    
    .container-popud {
      height: 450px;
    }

    .signin-signup {
      width: 100%;
      top: 95%;
      transform: translate(-50%, -100%);
      transition: 1s 0.8s ease-in-out;
    }
  
    .signin-signup,
    .container-popud.sign-up-mode .signin-signup {
      left: 50%;
    }
    .panel-popud {

      justify-content: inherit;
      
    }

  
    .panel-popud .content {
      padding: 15px 12% 0;
      transition: transform 0.9s ease-in-out;
      transition-delay: 0.8s;
    }
    
    .panel-popud h2 {
      font-size: 1.2rem;
    }
  
    .panel-popud p {
      font-size: 0.9rem;
      padding: 0.5rem 0;
    }
  
    .btn.transparent {
      width: 110px;
      height: 35px;
      font-size: 0.7rem;
    }
  
    .container-popud:before {
      width: 1500px;
      height: 1500px;
      transform: translateX(-50%);
      left: 30%;
      bottom: 68%;
      right: initial;
      top: initial;
      transition: 2s ease-in-out;
    }
  
    .container-popud.sign-up-mode:before {
      transform: translate(-50%, 100%);
      bottom: 32%;
      right: initial;
    }
  
    .container-popud.sign-up-mode .left-panel .image,
    .container-popud.sign-up-mode .left-panel .content {
      transform: translateY(-300px);
    }
  
    .container.popud.sign-up-mode .right-panel .image,
    .container.popud.sign-up-mode .right-panel .content {
      transform: translateY(0px);
    }
  
    .right-panel .image,
    .right-panel .content {
      transform: translateY(300px);
    }
  
    .container.popud.sign-up-mode .signin-signup {
      top: 5%;
      transform: translate(-50%, 0);
    }
    .panels-container {
      
      grid-template-columns: repeat(1, 1fr);
    }
    .left-panel{
      padding: 0;
    }
    img.image{
      display: none;
    }
  }
  
