*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
[id]{
    scroll-margin-top: 3ex;
}
@font-face {
    font-family: 'sumactimber';
    src: url('../font/sumac_timber-webfont.woff2') format('woff2'),
         url('../font/sumac_timber-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
:root{
    --font-principal: 'sumactimber';
    --font-second: 'Montserrat Alternates', sans-serif;

}
ul,li{
  margin: 0;
}
h1,h2,h3,h4{
    margin: 0;
}
h1{
    font-size: 70px;
    letter-spacing: 6px;
    line-height: 75px;
    color: rgb(251, 251, 251);
    font-family: var(--font-principal);
}
h2{
    font-size: 18px;
    line-height: 30px; 
    font-family: var(--font-second);
}
h3{
    font-size: 15px;
    padding: 20px;
    font-family: var(--font-second);
}
h4{
    font-size: 12px;
    padding: 20px;
    font-family: var(--font-second);
}
p{
    font-size: 13px;
    line-height: 20px;
    font-family: var(--font-second);
    color: rgba(49, 47, 47, 0.8);
}
a{
    text-decoration: none;
    font-family: var(--font-principal);
}
img{
    max-width: 100%;
    height: auto;
    display: block; 
}
figure{
    margin: 0;
    padding: 0;
}

/* maquetacion principal */
body{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: "panel main";
}
.panel{
    grid-area: panel;
}
main{
    grid-area: main;
}

 /*:::::::::::: PANEL ::::::::::: */

.panel{
    position: sticky;
    top: 0;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    z-index: 10002;
    background-color: darkred;
    box-shadow: 7px 0px 25px -10px rgba(0,0,0,0.46);
    -webkit-box-shadow: 7px 0px 25px -10px rgba(0,0,0,0.46);
    -moz-box-shadow: 7px 0px 25px -10px rgba(0,0,0,0.46);
}

.panel-flotante{
    position: fixed;
    top: 7vh;
    left: 0;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    z-index: 10000;
    background-color: darkred;
    box-shadow: 7px 0px 25px -10px rgba(0,0,0,0.46);
    -webkit-box-shadow: 7px 0px 25px -10px rgba(0,0,0,0.46);
    -moz-box-shadow: 7px 0px 25px -10px rgba(0,0,0,0.46);
    transform: translateX(-100%);
    transition: all 0.5s ease;
}

.is-active-panel{
    transform: translateX(0);
    transition: all 0.5s ease;
}

/* panel logo */
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: white;
}
.logo img{
    width: 200px;
}
/* panel menu */
.menu{
    height: 50vh;
    background-color: white;
    clip-path: circle(95.7% at 51% 4%);
}
.menu-items{
    display: flex;
    flex-direction: column;
}
.menu-items a{
    display: block;
    letter-spacing: 0.5px;
    width: 100%;
    padding: 10px 30px;
    color: black;
    transition: all 0.3s ease-in;
    border-top : 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    font-family: var(--font-second);
    font-size: 13px;
}
.menu-items a:not(:last-child){
    box-shadow: 0px 9px 6px -10px rgba(0,0,0,0.35);
    -webkit-box-shadow: 0px 9px 6px -10px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 9px 6px -10px rgba(0,0,0,0.35);
}
.menu .menu-items a:hover {
    width: 300px;
    background-color: darkred;
    color: white;
    transition: all 0.3s ease-in;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.panel-flotante-menu{
    height: 50vh;
    background-color: white;
}
.panel-flotante-menu .menu-items a:hover{
    background-color: darkred;
    color: white;
}
.menu-items a:hover i{
    color: white;
    transition: all 0.3s ease-in;
}
.menu-items a>i{
    margin-right: 15px;
    color: darkred;
    transition: all 0.3s ease-in;
    font-size: 15px; 
}
/* panel footer */
.footer{
    color: white; 
    font-family: var(--font-second);
}
.main-footer{
    padding: 15px 20px;
}
.header-footer{
    text-align: center;
}
.header-footer i{
    font-size: 20px;
    margin-bottom: 10px;
    color: white;
}
.header-footer a{
    display: block;
    width: 70%;
    margin: 10px auto;
    padding: 10px;
    background-color: white;
    color: darkred;
    border-radius: 10px;
    font-size: 20px;
}


/*:::::::::::::::::::::::::::::::::::::::*/

/* :::::::::::::: MAIN :::::::::::::::::: */

/* header */
.main-header{
    position: fixed;
    right: 0;
    z-index: 10000;
    width: 80vw;
    background-color: darkred;
    color: white;
}
.main-header .header-suscribete,
.main-header .redes-sociales{
    padding: 10px 30px;
    display: flex;
    width: 50%;
}
.header{
    display: flex;
    justify-content: space-between;
}
.header-suscribete{
    font-family: var(--font-second);
    font-size: 13px;
    justify-content: space-around;
    align-items: center;

}
.header-suscribete .hamburguesa{
    display: none;
}
.header-suscribete span{
    font-size: 14px;
    margin-right: 15px;
}
.header-suscribete a{
    display: block;
    padding: 5px 20px;
    border-radius: 10px;
    border: 1px solid white;
    color: white;
    font-size: 16px;
    width: 150px;
    text-align: center;
}
.header-suscribete a>i{
    color: white;
    margin-left: 10px;
}
.redes-sociales{
    font-family: var(--font-second);
    font-size: 13px;
    justify-content: flex-end;
    align-items:center;

}.redes-sociales a{
    color: white;
    transition: all 0.2s ease;
}
.redes-sociales a:hover{
    transform: scale(1.3);
    transition: all 0.2s ease;
}
.redes-sociales :not(:last-child){
    margin-right: 20px;
}

/* hero banner */
.main-hero-banner{
    position: relative;
    width: 100%;
    height: 100vh;
}
.slider{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in; 
}
.slider img{
    position: relative;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center center;  
}
.slider figcaption{
    position: absolute;
    width: 50%;
    height: 100%;
    top: 63%;
}

/* COLORES H1 */
.color-darkred{
    color: darkred;
}
.color-white{
    color: white;
}
/**************/
.slider figcaption.position-1{
    top: 40%;
    left: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}
.slider figcaption.position-2{
    top: 20%;
    left: 5%;
}
.hero-banner-btn{
    position: absolute;
    display: flex;
    bottom: 5%;
    left: 5%;
}
.hero-banner-btn a{
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: darkred;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
}
.active{
    opacity: 1;
    visibility: visible;
    transition: all 0.5s ease-in;
}
.position-1 a{
    display: block;
    width: 50%;
    padding: 15px 10px;
    background-color: rgb(240, 185, 83);
    color: black;
    text-align: center;
    border-radius: 10px;
    font-size: 23px;
    letter-spacing: 2px;
    margin-top: 20px;
    transition: all 0.3s;
}
.position-1 a:hover{
    background-color: rgb(243, 168, 28);
    transition: all 0.3s ;
}

/**************************************/
/* DESCRIPTION */
.content-description{
    display: flex;
}
.img,.img-description{
    width: 50%;
    height:50vh;
    overflow: hidden;   
}
.img-description{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img>.img-dentro{
    height: 50vh;
    background-image: url("../img/fachada_chorrillos.jpg");
    background-position: center center;
    background-size: cover;
    transition: all 0.3s ease-in; 
}
.img>.img-dentro:hover{
    transition: all 0.5s ease-in;
    transform: scale(1.2);
}
.img-desription{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-desription-content{
    width: 70%;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
}
.line-description{
    background-color: darkred;
    height: 2px;
    width: 30%;
    margin: 10px auto;
}
.order-card{
    order: 1;
}
/* MAIN- DESCRIP */
.main-descrip{
    background-color: rgb(209, 209, 212);
    color:rgb(48,48,48);
    font-family: var(--font-principal);
    padding: 80px 0;
}
.descrip-card-global
{
    max-width:1000px;
    width: 100%;
    display: flex;
    justify-content: space-evenly; 
    background-color: white;
    margin: 0 auto;
    box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.18);
}
.descrip-card{
    width: 335px;
    overflow: hidden;
}
.descrip-card .card-text{
    padding: 30px;
    height: 200px;
}
.descrip-card-title{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.cubo{
    width: 40px;
    height: 40px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    
}
.cubo img{
    display: block;
}
.card-img{
    overflow: hidden;
}

.descrip-card .card-img img{
    transition: all 0.3s;
}
.descrip-card .card-img:hover img{
    transform: scale(1.2);
    transition: all 0.3s;
}

/* QUE TE PROVOCA */
.main-provoca{
    background-image: url(../img/fondo-description1.jpg);
    background-position: center center;
    background-size: cover;
}
.descrip-card-global-prov{
    max-width: 1000px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    padding: 100px 0 60px;
    
}
.descrip-card-global-prov .card-prov{
    text-align: center;
    width: 280px;
    padding: 30px;
    background-color: white;
    border-radius: 20px;
    transition: all 0.3s; 
}
.descrip-card-global-prov .card-prov:hover{
    transition: all 0.3s;
    box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.18);

}
.download{
    padding: 50px 0;
    background-color: rgba(255, 255, 255,0.1);
    
}
.content-download{
    text-align: center;
    width: 50%;
    margin: 0 auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px 0;
    

}
.download span{
    font-family: var(--font-second);
    font-size: 15px;
    color: white;
    
}
.download a{
    display: block;
    width: 30%;
    background-color: rgb(240, 185, 83);
    padding: 10px;
    border-radius: 10px;
    color: black;
    font-size: 18px;
    text-align: center;
    transition: all 0.3s ease;
    margin: 20px auto 0;
}
.download a:hover{
    background-color: rgb(243, 168, 28);
    transition: all 0.3s ease;
}

/* RESEVATION */

.main-reservation{
    position: relative;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.reservation{
    overflow: hidden;
    max-width: 900px;
    width: 100%;
    text-align: center;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.18);
}
.reservation-1, .reservation-2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cuadrado{
    width: 30%;
    height: 250px;
    padding: 20px;
    transition: all 0.3s ease-in-out;
    overflow: hidden;

}
.rectangulo{
    width: 70%;
    height: 250px;
    padding: 30px 60px;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.rectangulo .background_rect,
.cuadrado .background_cuad{
    width: 100%;
    height: inherit;
    background-size: cover;
    background-position: center center;
}
.rectangulo .background_rect{
    background-image: url("../img/fachada_chorrillos.jpg");
}
.cuadrado .background_cuad{
    background-image: url("../img/fachada_chorrillos.jpg");
}

/* hover */
.reservation-1 .rectangulo,
.reservation-2 .cuadrado{
    padding: 0;
}
.reservation-2 .cuadrado .background_cuad,
.reservation-1 .rectangulo .background_rect{
    transition: all 0.3s ease-in-out;
}
.reservation-2 .cuadrado .background_cuad:hover{
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}
.reservation-1 .rectangulo .background_rect:hover{
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}

.cuadrado p{
    margin-bottom: 20px;
}
.cuadrado a{
    display: block;
    width: 70%;
    background-color: rgb(240, 185, 83);
    border-radius: 10px;
    padding: 10px;
    margin: 20px auto 0;
    color: black;
    font-size: 18px;
    text-align: center;
    transition: all 0.3s ease;
}
.cuadrado a:hover{
    background-color: rgb(243, 168, 28);
    transition: all 0.3s ease;
}


/* MAIN - GOOGLE- MAP */
.main-google-map iframe{
    width: 100%;
    border: 0;
    margin: 0;
    height: 92vh;
}
.main-google-map{
    position: relative;
}
.btn-top a{
    position: absolute;
    display: block;
    bottom: 10px;
    left: 50%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 77, 77);
    transition: all 0.3s ease;
    color: white;
    font-size: 30px;
    
}
.btn-top a:hover{
    background-color: darkred;
    transition: all 0.3s ease;
}

/* MODAL */
.mfp-inline-holder .mfp-content{
    width: 50%;
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
    left: 10%;
}
.mfp-inline-holder .mfp-content h4{
    margin-top: 15px;
    margin-bottom: 15px;
    color: #333560;;
}
.popup-modal-dismiss{
    color: black;
}
.background{
    background-color: blue;
    height: 350px;
}




/* POPUD - COTIZACION RESERVACIONES */

.container-popud {
  position: relative;
  width: 100%;
  background-color: #fff;
  height: 350px;
  overflow: hidden;
}

.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 3rem;
  transition: all 0.2s 0.7s;
}
.signin-signup {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  transition: 1s 0.7s ease-in-out;
  z-index: 5;
}

form.sign-in-form {
  z-index: 2;
}

.title {
  font-size: 1.5rem;
  color: #444;
  margin-bottom: 10px;
}
/* CAJA DE TEXTO */
.input-field {
  max-width: 380px;
  width: 100%;
  background-color: #d1cfcf;
  margin: 10px 0;
  height: 35px;
  border-radius: 55px;
  padding: 0 0.4rem;
  position: relative;
  display: flex;
  align-items: center;
}
.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1rem;
  color: #333;
  padding-left: 10px;  
}
.input-field input::placeholder {
  color: rgb(146, 141, 141);
  font-weight: 500;
}
.btn {
    display: block;
    background-color: darkred;
    padding: 10px 20px;
    letter-spacing: 2px;
    border-radius: 10px;
    border: 1px solid white;
    color: white;
    font-size: 20px;
    width: 150px;
    text-align: center;
    font-family: var(--font-principal);
    margin-top: 10px;
    transition: all 0.3s;
}
.btn:hover {
    border: 1px solid darkred;
    transition: all 0.3s;
}
.panels-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container-popud:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background-image: linear-gradient(-45deg, darkred 0%, #b60404 100%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

.image {
  width: 100%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}

.panel-popud {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.panel-popud .content {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

.panel-popud h2 {
  font-weight: 600;
  line-height: 1;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 10px;
}
.panel-popud p {
  padding: 0.7rem 0;
  color: white;
}

.btn.transparent {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
}


.none{
    display: none;
}



/****************************/
/* LIGTH SLIDER */
ul{
    list-style: none outside none;
    padding-left: 0;
    margin: 0;
}
.demo .item{
    margin-bottom: 60px;
}
.content-slider li{
    background-color: #ed3020;
    text-align: center;
    color: #FFF;
}
.content-slider h3 {
    margin: 0;
    padding: 70px 0;
}
.demo{
    width: 350px;
    height: 280px;
}
.lSSlideWrapper{
    height: 250px;
    overflow: visible;
}
.lSPrev{
    z-index: 335000;
}

/* SOCIAL NETWORK*/
.social-network{
    position: fixed;
    z-index: 12000;
    bottom: 30px;
    right: 30px;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-network a{
    display: block;
}